body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
.wrapper {
  width: 610px;
  margin: 10px auto;
  text-align: center;
  color: #333333;
}
.field {
  display: grid;
  grid-template: repeat(3, 20vh) / repeat(3, 20vh);
}
.bar {
  font-size: 30vh;
  font-weight: bold;
  border: 1px solid #999;
  color: #fff;
  background: #fff;
  margin: 1px;
}
.bar:focus, .bar:active {
  outline: none;
  background: none;
}
.x {
  font-size: 12vh;
  color: #4862a3;
  transition: 0.3s;
}
.o {
  font-size: 12vh;
  color: #4862a3;
  transition: 1s;
}
#message {
  display: inline-block;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 2em;
  text-decoration: underline;
}

.win {
  border: 3px solid #77a577;
  color: #3c763d;
  background-color: #dff0d8;
  font-size: 4em;
  text-decoration: none!important;
  transition: 0.5s;
}
.loose {
  border: 3px solid #c07e7e;
  color: #763c3c;
  background-color: #f0d8d8;
  font-size: 4em;
  text-decoration: none!important;
  transition: 0.5s;
}

@media (max-width: 650px) {
  body {
    margin: 0;
  }
  .wrapper {
    width: 100%;
  }
  .field {
    grid-template: repeat(3, 33.3vw) / repeat(3, 33.3vw);
  }
}
