body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}
h1 {
  font-size: 3em;
}
.wrapper {
  width: 610px;
  margin: 10px auto;
  color: #333333;
}
.field {
  display: grid;
  grid-template: repeat(3, 20vh) / repeat(3, 20vh);
}
.bar {
  font-size: 30vh;
  font-weight: bold;
  border: 1px solid #999;
  /* color: #fff; */
  color: #000;
  font-size: 26px;

  background: #fff;
  margin: 1px;
  cursor: pointer;
}
.bar:focus,
.bar:active {
  outline: none;
  background: none;
}
.bar:hover {
  background: #f4f7ff;
}
.x {
  font-size: 12vh;
  color: #4862a3;
  transition: 0.3s;
}
.o {
  font-size: 12vh;
  color: #4862a3;
  transition: 1s;
}
.disabled {
  color: #ccc;
}
#message,
#btnfullscreen {
  display: inline-block;
  margin: 0 70px 50px 0;
  border-radius: 10px;
  font-size: 2em;
  text-decoration: underline;
  cursor: pointer;
}

.win {
  padding: 20px 40px;
  margin: 20px;
  border: 3px solid #77a577;
  color: #3c763d;
  background-color: #dff0d8;
  font-size: 4em;
  text-decoration: none !important;
  transition: 0.5s;
}
.loose {
  padding: 20px 40px;
  margin: 20px;
  border: 3px solid #c07e7e;
  color: #763c3c;
  background-color: #f0d8d8;
  font-size: 4em;
  text-decoration: none !important;
  transition: 0.5s;
}
.footer {
  padding: 20px 0;
}

@media (max-width: 650px) {
  body {
    margin: 0;
  }
  .wrapper {
    width: 100%;
  }
  .field {
    grid-template: repeat(3, 33.3vw) / repeat(3, 33.3vw);
  }
}
